header.header
    .container
        a(href="./").logo 
            span ОблачКо
            span Торговля детскими товарами Российского производства
        .header__info
            .header__contact
                .header__social
                    a(href="#")
                        img(src="./images/icon/vk.svg", alt="vk")
                    a(href="#")
                        img(src="./images/icon/instagram.svg", alt="instagram")
                .header__tel
                    a(href="tel:+79533192986") +7 953 319 29 86
                    a(href="#")
                        img(src="./images/icon/basket.svg", alt="basket")
                        span 12
            nav.menu
                ul
                    li
                        a(href="#") Главная
                    li
                        a(href="#") Каталог
                    li
                        a(href="#") Доставка и оплата
                    li
                        a(href="#") Новости
                    li
                        a(href="#") Вопрос-ответ
                    li
                        a(href="#") Контакты
.wrapper__info.container
    .catalog
        ul
            li
                a(href="#") От 0-3 лет
            li
                a(href="#") Платья
            li
                a(href="#") Нижнее белье
            li
                a(href="#") Игрушки
            li
                a(href="#") Остальное
        .news
            h2 Новости
            .news__item
                .news__img
                    img(src="./images/decor/news-1.png", alt="news")
                .news__text
                    span 25 августа  2020
                    a(href="#") Новая коллекция 2020
                    p Спешите приобрести новые модели по низким ценам!
            .news__item
                .news__img
                    img(src="./images/decor/news-2.png", alt="news")
                .news__text
                    span 25 августа  2020
                    a(href="#") Новая коллекция 2020
                    p Спешите приобрести новые модели по низким ценам!
            a(href="#").news__all Все новости
    .wrapper__text
        .breadcrumbs
            a(href="./") Главная   
            span >
            a(href="#") Каталог  
            span >
            a(href="#") Платья
            span >
            a(href="#").active-link Джинсовый сарафан с оборками и вышивкой для малышки
        .product
            h2 Джинсовый сарафан с оборками и вышивкой для малышки
            .product__wrap
                .product__image
                    .product__image-big
                        .product__big
                            img(src="./images/decor/image-1.jpg", alt="slider")
                        .product__big
                            img(src="./images/decor/image-2.jpg", alt="slider")
                        .product__big
                            img(src="./images/decor/image-3.jpg", alt="slider")
                        .product__big
                            img(src="./images/decor/image-1.jpg", alt="slider")
                    .product__image-small
                        .product__small
                            img(src="./images/decor/image-1.jpg", alt="slider")
                        .product__small
                            img(src="./images/decor/image-2.jpg", alt="slider")
                        .product__small
                            img(src="./images/decor/image-3.jpg", alt="slider")
                        .product__small
                            img(src="./images/decor/image-1.jpg", alt="slider")
                .product__info
                    .product__price
                        .card__number
                            span.card__minus
                            input(type="text", value="0")
                            span.card__plus
                        .product__btn
                            span 6 490 руб.
                            a(href="#") В корзину
                    .product__text
                        p Сарафан выполнен из смесового денима. Модель декорирована оборками и вышитым рисунком в виде зайчиков. 
                        p Свободный А-фасон, застёжка на пуговицу сзади.
footer.footer
    .container
        .footer__top
            a(href="./").logo 
                span ОблачКо
            .footer__adress
                p 
                    img(src="./images/icon/map.svg", alt="map")
                    | г. Москва
            .footer__mail
                a(href="mailto:inbox@obla4kok.ru")
                    img(src="./images/icon/mail.svg", alt="mail")
                    | inbox@obla4kok.ru
            .footer__tel
                a(href="tel:+79776220032") 
                    img(src="./images/icon/phone.svg", alt="phone")
                    | +7 977 622 00 32,
                a(href="tel:+79686591302") +7 968 659 13 02
        .footer__bottom
            .footer__info
                p © 2020 obla4kok.ru
                    a(href="#") Политика конфиденциальности
                p 
                    a(href="mailto:studiaremonta2020@mail.ru") studiaremonta2020@mail.ru 
                    | — электронная почта для обращений с вопросом о своих персональных данных, в том числе об их удалении.
            .footer__links
                .footer__text
                    a(href="#") Создание сайтов
                    a(href="#") Продвижение сайтов
                a(href="#")
                    img(src="./images/icon/kontur.svg", alt="kontur")